[submodule "RSEND_P1_Build_My_World"]
	path = RSEND_P1_Build_My_World
	url = git@github.com:carlosgalvezp/RSEND_P1_Build_My_World.git
[submodule "RSEND_P2_Go_Chase_It"]
	path = RSEND_P2_Go_Chase_It
	url = git@github.com:carlosgalvezp/RSEND_P2_Go_Chase_It.git

[submodule "RSEND_P3_Where_Am_I"]
	path = RSEND_P3_Where_Am_I
	url = git@github.com:carlosgalvezp/RSEND_P3_Where_Am_I.git
[submodule "RSEND_P4_Map_My_World"]
	path = RSEND_P4_Map_My_World
	url = git@github.com:carlosgalvezp/RSEND_P4_Map_My_World.git
[submodule "RSEND_P5_Home_Service_Robot"]
	path = RSEND_P5_Home_Service_Robot
	url = git@github.com:carlosgalvezp/RSEND_P5_Home_Service_Robot.git
